[project]
	description = Android Platform Manifest
[receive]
	requireContributorAgreement = true
[submit]
	action = fast forward only
[access "refs/*"]
	forgeAuthor = group AOSP
	forgeCommitter = group AOSP
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group global-plus2-approvers
	label-Code-Review = -2..+1 group Android Maintainers
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group global-plus2-approvers
	exclusiveGroupPermissions = label-Code-Review label-Verified
	create = group AOSP
	push = group AOSP
[access "refs/for/refs/heads/*"]
	exclusiveGroupPermissions = push pushMerge
	push = group Administrators
	push = group Android Maintainers
	push = group mdb/plex-workflow-android
	push = group vulkan-devs
	pushMerge = group Administrators
	pushMerge = group Android Maintainers
	pushMerge = group mdb/plex-workflow-android
	pushMerge = group vulkan-devs
[access]
	inheritFrom = pdk_review_filter
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group AOSP
	label-Verified = -1..+1 group AOSP
	create = group AOSP
	push = group AOSP
[access "refs/heads/master-art"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/master-art-host"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/master-dalvik"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/master-dalvik-host"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/chromium-dev"]
	label-Code-Review = -2..+2 group approvers-platform-external-chromium_org
	label-Verified = -1..+1 group approvers-platform-external-chromium_org
	submit = group approvers-platform-external-chromium_org
[access "refs/heads/master-soong"]
	push = group new-build
	label-Code-Review = -2..+2 group new-build
	label-Verified = -1..+1 group new-build
	submit = group new-build
[access "refs/heads/master-ndk"]
	exclusiveGroupPermissions = label-Code-Review label-Verified
	label-Code-Review = -2..+2 group Android Maintainers
	label-Code-Review = -2..+2 group global-plus2-approvers
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group global-plus2-approvers
	submit = group Android Maintainers
[access "refs/heads/openjdk"]
	label-Code-Review = -2..+2 group approvers-openjdk
	label-Verified = -1..+1 group approvers-openjdk
	submit = group approvers-openjdk
[access "refs/heads/master-ndk-vulkan-validation-layers"]
	label-Code-Review = -2..+2 group ndk-vulkan-validation-admin
	label-Verified = -1..+1 group ndk-vulkan-validation-admin
	submit = group ndk-vulkan-validation-admin
[access "refs/heads/emu-master-dev"]
	label-Code-Review = -2..+2 group mdb/plex-workflow-android
	label-Verified = -1..+1 group mdb/plex-workflow-android
	submit = group mdb/plex-workflow-android
[access "refs/heads/ub-supportlib-master"]
	label-Code-Review = -2..+2 group android-supportlib-eng-owners
	label-Verified = -1..+1 group android-supportlib-eng-owners
	submit = group android-supportlib-eng-owners
[access "refs/heads/androidx-master-dev"]
	label-Code-Review = -2..+2 group android-supportlib-eng-owners
	label-Verified = -1..+1 group android-supportlib-eng-owners
	submit = group android-supportlib-eng-owners
[access "refs/heads/androidx-1.0-dev"]
	label-Code-Review = -2..+2 group android-supportlib-eng-owners
	label-Verified = -1..+1 group android-supportlib-eng-owners
	submit = group android-supportlib-eng-owners